environment:
    debug: false
local:
    autoconnect: true
    proto: tcp
    host: 'plcontroller.revtr.ccs.neu.edu'
    pprofaddr: ':55557'
    startscamp: true
    rootca: /server.crt
    interface: net1
    senderonly: false
scamper:
    host: 'plcontroller.revtr.ccs.neu.edu'
    binpath: '/usr/local/bin/scamper'
    port: 4299
    rate: 300
    cafile: /server.crt